@import './home.scss';
@import './about.scss';
@import './services.scss';
@import './tarrifs.scss';
@import './stats.scss';

body{
    font-family: "Rosario", sans-serif;
}
.container {
    margin: 0;
    padding: 0;
}